OL,UL,P,BODY,TD,TR,TH,FORM { font-size:small; color: #000000; }

H1 { font-size: x-large; font-family: arial,helvetica,sans-serif; }
H2 { font-size: large; font-family: arial,helvetica,sans-serif; }
H3 { font-size: medium; font-family: arial,helvetica,sans-serif; }
H4 { font-size: small; font-family: arial,helvetica,sans-serif; }
H5 { font-size: x-small; font-family: arial,helvetica,sans-serif; }
H6 { font-size: xx-small; font-family: arial,helvetica,sans-serif; }

PRE,TT { font-family: courier,sans-serif }

A { color:#000070 }
A:link { text-decoration:none }
A:visited { text-decoration:none }
A:active { text-decoration:none }
A:hover { text-decoration:underline; color:#0000FF }

.linedtable
{
background-color: black;
background: black;
}

/*.linedtable TR TH TD
{
}*/

.linedtable TH { background-color: aqua; }

.unevenrow 
{ 
background-color: #F0F0F0;
}

.evenrow 
{ 
background-color: #D0D0D0; 
}
